<launch>

    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_a" default="0"/>
    <arg name="robot_name" default="rob_lab_config"/>

    <!--  ******************** Robot Model ********************  -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rob_lab_mapping)/urdf/$(arg robot_name).xacro'"/>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_$(arg robot_name)" 
        args="-x $(arg initial_pose_x) -y $(arg initial_pose_y) -Y $(arg initial_pose_a)
        -unpause -urdf -param robot_description -model $(arg robot_name)" respawn="false">
    </node>
</launch>